    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
            class="simple-text logo-normal">
          Zapaterias Paqui
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'socios' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'socios' %}">
              <i class="material-icons">person</i>
              <p>Socios</p>
            </a>
          </li>
          <li class="nav-item {% if 'ingresos' in segment or 'gastos' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'contabilidad' %}">
              <i class="material-icons">payments</i>
              <p>Contabilidad</p>
            </a>
          </li>
          <li class="nav-item {% if 'productos' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'productos' %}">
              <i class="material-icons">inventory</i>
              <p>Productos</p>
            </a>
          </li>
          <li class="nav-item {% if 'empleados' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'empleados' %}">
              <i class="material-icons">group</i>
              <p>Personal</p>
            </a>
          </li>

          <li class="nav-item {% if 'campanas' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'campanas' %}">
              <i class="material-icons">ads_click</i>
              <p>Marketing</p>
            </a>
          </li>

          <li class="nav-item {% if 'ordenas' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'ordenas' %}">
              <i class="material-icons">local_shipping</i>
              <p>Realizar pedido</p>
            </a>
          </li>
          
          <li class="nav-item {% if 'compras' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'compras' %}">
              <i class="material-icons">shopping_cart</i>
              <p>Realizar una venta</p>
            </a>
          </li>

          
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>


        {% else %}
          <!--Sidebar vacía si no hay nadie logeado-->

        {% endif %}
        </ul>
      </div>

    </div>
